html, body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.jumbotron {
  height: 100%;
}

.vertical-center {
  position: relative;;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#home {
  text-align: center;
}

#home img {
  border-radius: 50%;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 30px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#home img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#about {
  text-align: center;
}

#about .table {
  text-align: left;
  font-size: 1.2em;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#about .table .title {
  font-size: 1.4em;
}

#about .table .orgnization {
  font-size: 1.4em;
  font-style: italic;
}

#about .table th, .table td {
  border-top: none !important;
}

#skills {
  text-align: center;
}

#skills .list-group {
  text-align: left;
  font-size: 1.2em;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
